@{
    ViewData["Title"] = "Home Page";
}

<button type="button" class="btn btn-primary">Add New Book</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Advance</th>
            <th scope="col">Royalty</th>
            <th scope="col">YtdSales</th>
            <th scope="col">Notes</th>
            <th scope="col">Published Date</th>
            <th scope="col">Publisher Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <th scope="row"><a href="">@item.BookId</a></th>
                <td>@item.Title</td>
                <td>@item.Type</td>
                <td>@item.Price</td>
                <td>@item.Advance</td>
                <td>@item.Royalty</td>
                <td>@item.YtdSales</td>
                <td>@item.Notes</td>
                <td>@item.PublishedDate.ToString("dd/MM/yyyy")</td>
                <td>@item.PublisherName</td>
            </tr>
        }
    </tbody>
</table>