@{
    ViewData["Title"] = "Home Page";
}

<h1>Enter Book Information</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row" action="@Url.Action("Create", "Home")" , method="post" id="bookForm">
                <div class="col-12">
                    <label for="Title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="Title" name="Title" placeholder="Title">
                </div>
                <div class="col-6">
                    <label for="Type" class="form-label">Type</label>
                    <input type="text" class="form-control" id="Type" name="Type" placeholder="Type">
                </div>
                <div class="col-6">
                    <label for="PubId" class="form-label">Publisher</label>
                    <select class="form-select" id="PubId" name="PubId">
                        <option selected>Choose...</option>
                        @foreach (var p in ViewBag.Publishers)
                        {
                            <option value="@p.PubId">@p.PublisherName</option>
                        }
                    </select>
                </div>
                <div class="col-6">
                    <label for="Price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="Price" name="Price" placeholder="Price">
                </div>
                <div class="col-6">
                    <label for="Advance" class="form-label">Advance</label>
                    <input type="text" class="form-control" id="Advance" name="Advance" placeholder="Advance">
                </div>
                <div class="col-6">
                    <label for="Royalty" class="form-label">Royalty</label>
                    <input type="text" class="form-control" id="Royalty" name="Royalty" placeholder="Royalty">
                </div>
                <div class="col-6">
                    <label for="YtdSales" class="form-label">YtdSales</label>
                    <input type="text" class="form-control" id="YtdSales" name="YtdSales" placeholder="YtdSales">
                </div>
                <div class="col-12">
                    <label for="PublishedDate" class="form-label">Published Date</label>
                    <input type="date" class="form-control" id="PublishedDate" name="PublishedDate" placeholder="PublishedDate">
                </div>
                <div class="col-12">
                    <label for="Notes" class="form-label">Notes</label>
                    <textarea class="form-control" id="Notes" name="Notes" placeholder="Notes"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" onclick="cleanInput()">Clean</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function cleanInput() {
        // Lấy danh sách tất cả các trường nhập liệu trong form
        var formFields = document.querySelectorAll('#bookForm input');

        // Lặp qua từng trường và xóa giá trị
        formFields.forEach(function (field) {
            field.value = '';
        });
    };
</script>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Advance</th>
            <th scope="col">Royalty</th>
            <th scope="col">YtdSales</th>
            <th scope="col">Notes</th>
            <th scope="col">Published Date</th>
            <th scope="col">Publisher Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <th scope="row"><a href="@Url.Action("Detail", "Books", new {id=item.BookId})">@item.BookId</a></th>
                <td>@item.Title</td>
                <td>@item.Type</td>
                <td>@item.Price</td>
                <td>@item.Advance</td>
                <td>@item.Royalty</td>
                <td>@item.YtdSales</td>
                <td>@item.Notes</td>
                <td>@item.PublishedDate.ToString("dd/MM/yyyy")</td>
                <td>@item.PublisherName</td>
            </tr>
        }
    </tbody>
</table>